/*input[type=text], [type=password], [type=date], [type=file], [type=tel], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/

/*Cover page*/
.cover-page {
  outline: none;
  padding: 29em;
  background-size: 100%;
  background-image: url(upload/cover.jpg);
  background-repeat: no-repeat;
  text-align: center;
}


/*body content*/
  .content{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #header{
    font-size: 30px;
}

  /*button*/

  #soldbtn{
      width: 100%;
      background-color: rgb(102, 202, 43);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    #soldbtn:hover {
      background-color: rgb(57, 136, 12);
  }

  #mypostbtn{
      width: 310px;
      background-color: #f2f2f2;
      border: none;
      text-align: left;
    }
    
    #mypostbtn:hover{
      background-color: #f2f2f2;
      box-shadow: 5px 5px 5px 5px gray;
      border: 1px;
  }

  #signupbtn{
    left: 1100px;
    top: 100px;
    background-color: grey; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    font-size: 24px;
  }

  #signupbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: yellow;
  }

  #loginbtn{
    position: inherit;
    left: 880px;
    top: 100px;
    background-color: grey; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    font-size: 24px;
  }

  #loginbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: yellow;
  }
  
  #submitbtn {
    width: 100%;
    background-color: #1c33fdda;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submitbtn:hover {
    background-color: #1c85fdda;
  }

  #cancelbtn {
    width: 100%;
    background-color: rgb(173, 51, 51);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #cancelbtn:hover {
    background-color: rgb(105, 27, 27);
  }

  #return{
    text-decoration: none;
  }

  #return:hover{
    color: rgb(122, 9, 9);
    text-decoration: underline;
  }

  #bidbtn{
    width: 100%;
    background-color: rgb(53, 162, 212);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #bidbtn:hover {
    background-color: rgb(7, 135, 158);
}

#displaybtn{
  width: 330px;
  background-color: #f2f2f2;
  border: none;
  text-align: left;
}

#displaybtn:hover{
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px 5px gray;
  border: 1px;
}

  #logout{
    float: right;
}

  /*form*/
  #form {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /*table td th tr*/

  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    border: none;
  }
  

  /*ul ol li*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  #table ul{
    background-color: #f2f2f2;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

/*Image*/

#blurred-bg{
  background-image: url(upload/blurred.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  #productimg{
      width: 300px;
      height: 300px;
      display: block;
      margin: auto;
  }


  #smallimg{
    max-height: 300px;
    max-width: 300px;
    min-width: 200px;
    min-height: 200px;
    display: block;
    margin: auto;
  }

  #profileimgdisplay{
    display: block;
    width: 60%;
    margin: 10px auto;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
  }

  #profile-img{
    width: 400px;
    clip-path: circle();
    display: block;
    margin: auto;
  }


  /*text*/
  #timeleft{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: red;
  }

  #title{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  #titletext {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#profile-userid{
  text-align: center;
  color: gray;
}

#selling{
  text-align: center;
  background-color: rgba(252, 85, 85, 0.993);
  border-radius: 50px;
  font-weight: bold;
}

#sold{
  text-align: center;
  background-color: rgba(147, 255, 85, 0.877);
  border-radius: 50px;
  font-weight: bold;
}

#display-price{
  font-weight: bold;
  font-size: 18px;
}

#display-title{
  font-size: 18px;
}

#information-price{
    font-weight: bold;
    font-size: 30px;
}

#information-title{
  font-size: 30px;
}

#timeleft{
  font-weight: bold;
}

#status{
  text-align: left;
  width: 35%;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px 5px gray;
  border: 1px;
  border-radius: 10px;
}